@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.carouselSplide {
  .splide {
    margin: auto;
    max-width: 800px;

    .splide__slide {
      background: #f4f4f4;
      border: 1px solid #ccc;
      text-align: center;
      padding: 20px;
    }

    .splide__pagination {
      counter-reset: pagination-num;
    }

    .splide__pagination__page {
      &:before {
        counter-increment: pagination-num;
        content: counter(pagination-num);
      }

      &.is-active {
        color: red;
      }
    }
  }
}